{{>navbar}}
<main class="dib w-100">

  <h1 class="hot-pink f3 tc">Charity Rejected</h1>
  <section class="w-80 center">
    <p>Thank you, the charity has now been rejected on the platform</p>
  </section>

</main>