{{>navbar}}
<main class="dib w-100">

  <h1 class="hot-pink f3 tc">Ticket Application Successful</h1>
  <section class="w-80 center">
  <p>An email has been sent to your inbox confirming your ticket application. We will be in touch shortly with more information about the tickets.</p>
  </section>

</main>