<section id="login" class="">
   <form class="" action="/login" method="post">
     <header class="">Login</header>
       <label>Email: </label>
       <input name="email" required="" type="text">
       <label>Password: </label>
       <input name="password" placeholder="*********" required="" type="password">
       <div class="validation" id="validation"></div>
       <button type="submit" name="submit">Login</button>
   </form>
 </section>