<section id="login" class="login">
  <form class="login" action="/signin" method="post">
    <header class="formheader">Login</header>
      <label>Username: </label>
      <input name="username" required="" type="text">
      <label>Password: </label>
      <input name="password" placeholder="*********" required="" type="password">
      <div class="validation" id="validation"></div>
      <button type="submit" name="submit">Login</button>
  </form>
</section>
