{{>navbar}}
<main class="">
<section id="login" class="tc">
   <form class="bg-tb dib pa4 pt1 mt4" action="/login" methd="post">
     <h1>Login</h1>
       <label>Email: </label>
        {{#if errorEmail}}
         <label>{{errorEmail}}</label>
       {{/if}}
       <input class="db f5 pa2 ma2" name="email" required="" type="text">
       <label>Password: </label>
           {{#if errorPassword}}
         <label>{{errorPassword}}</label>
       {{/if}}
       <input class="db f5 pa2 ma2" name="password" placeholder="*********" required="" type="password">
       <div class="validation" id="validation"></div>
       <button class="bg-black white f5 br1 pt1 pb1 pr3 pl3 bn" type="submit" name="submit">Login</button>
   </form>
 </section>
 </main>