<section id="signup" class="signup">
  <form class="signup" action="/newuser" method="post">
    <header>Signup</header>
    <label for="name">Charity name:</label>
    <input type="text" name="charityName" value="">
    <label for="name">Charity number:</label>
    <input type="text" name="charityNumber" value="">
    <label for="name">Area of work (field of support)</label>
    <input type="text" name="areaOfWork" value="">
    <label for="name">Main contact name:</label>
    <input type="text" name="contactName" value="">
    <label for="name">Main contact surname:</label>
    <input type="text" name="contactSurname" value="">
    <label for="name">Contact number of main contact</label>
    <input type="text" name="contactNumber" value="">
    <label for="name">Address of charity</label>
    <input type="text" name="charityAddress" value="">
    <label for="name">Email address:</label>
    <input type="text" name="contactEmail" value="">
    <label for="name">Password:</label>
    <input type="password" name="password" value="">
    <label for="name">Confirm password:</label>
    <input type="password" name="confirmPassword" value="">


    <button type="submit" name="submit">Signup</button>
  </form>
</section>
