{{>navbar}}
<main class="dib w-100">

  <h1 class="hot-pink f3 tc">Thanks for your application</h1>
  <section class="w-80 center">
    <p>A verification link has been sent to your email account. Please click on the link that has just been sent to your email account to verify your email and continue the registration process.</p>
  </section>

</main>

