<nav class="bg-black absolute w-100 top-0">
    <h1 class="dib hot-pink i pl2">THE TICKET BANK</h1>
    <div id="nav-burger" class="dib fr pointer mt3 mr2">
        <div class="bar1 bg-white"></div>
        <div class="bar2 bg-white"></div>
        <div class="bar3 bg-white"></div>
    </div>

    <ul id="nav-menu" class="list pl0 white dn mv0 f4">
        <li class="pv2 pl2"><a class="link white" href="/">HOME</a></li>
        <li class="pv2 pl2"><a class="link white" href="/login">LOGIN</a></li>
        <li class="pv2 pl2"><a class="link white" href="/sign-up">REGISTER AS A CHARITY</a></li>
    </ul>
</nav>